<div id="page-topuser" class="hidden p-6 relative flex-1 flex flex-col">
    <div class="wazuh-panel flex flex-col flex-1 overflow-hidden">
        <div class="p-4 border-b border-borderWazuh flex flex-col sm:flex-row sm:items-center justify-between gap-4">
            <div>
                <h3 class="font-medium text-sm text-textMain">Top Target Usernames</h3>
            </div>
            <div class="flex items-center gap-2 bg-dark px-3 py-1 rounded border border-borderWazuh w-full sm:w-64">
                <i class="fa-solid fa-search text-textMuted text-xs"></i>
                <input type="text" id="search-topuser" placeholder="Search username..." class="bg-transparent border-none outline-none text-xs text-textMain w-full placeholder-textMuted">
            </div>
        </div>
        <div class="flex-1 overflow-auto bg-panel">
            <table class="w-full text-left whitespace-nowrap text-xs">
                <thead class="sticky top-0 bg-dark border-b border-borderWazuh z-10">
                    <tr class="text-textMuted font-medium">
                        <th class="px-4 py-2 w-16 text-center">#</th>
                        <th class="px-4 py-2">Username</th>
                        <th class="px-4 py-2">Event Count</th>
                    </tr>
                </thead>
                <tbody id="topuser-table" class="divide-y divide-borderWazuh">
                    <!-- Diisi JS -->
                </tbody>
            </table>
        </div>
        <div class="p-3 border-t border-borderWazuh flex items-center justify-between bg-dark">
            <span id="topuser-pagination-info" class="text-xs text-textMuted">Showing 0 hits</span>
            <div class="flex gap-1">
                <button id="btn-topuser-prev" onclick="prevTopUserPage()" class="px-2 py-1 bg-panel border border-borderWazuh text-textMain rounded hover:bg-gray-700 disabled:opacity-50 text-xs"><i class="fa-solid fa-chevron-left"></i></button>
                <button id="btn-topuser-next" onclick="nextTopUserPage()" class="px-2 py-1 bg-panel border border-borderWazuh text-textMain rounded hover:bg-gray-700 disabled:opacity-50 text-xs"><i class="fa-solid fa-chevron-right"></i></button>
            </div>
        </div>
    </div>
</div>
